# Ignore personal configuration file
personal_config.py

# Ignore personal game json files
epic_games.json
steam_games.json
steam_roguelikes.json

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore environment files
.env

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db